.App {
  text-align: center;
  
}




.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  
  color: white;
}

#add-button{
  background-color: #F0AD4E;
  color: #282C34;
  border: none;
  padding: 10px;
  width: 15vw;
  height: 10vh;
  margin-right: 15px;
  border-radius: 5px;
  font-weight: 700;
  font-family: Roboto;
  font-size: 0.8em;
  cursor: pointer;
}

#search-button{
  background-color: #282C34;
  color: #fff;
  border: none;
  padding: 10px;
  width: 15vw;
  height: 8vh;
  margin-right: 15px;
  border-radius: 5px;
  font-weight: 700;
  font-family: Roboto;
  font-size: 0.8em;
  cursor: pointer;
}


input[type="search"]{
  appearance: none;
  border: groove thin grey;
  height: 50px;
  border-radius: 5px;
  width: 300px;
  margin-bottom: 25px;
  margin-right: 15px;
}

@media screen and (max-width: 1350px){
  input[type="search"]{  
    width: 60vw;
  }

  #search-button{
    width: 18vw;
    height: 6vh;
  }
  
  
.App-header {
  flex-direction: column;
  font-size: calc(5px + 2vmin);
}

#add-button{
  width: 50vw;
  height: 6vh;
  font-size: 1.5em;
  margin:20px 0 20px 0
}
}
